/* add code here */

/* putem folosi dublarea clasei - ex:".header.header",
pentru marirea specificitatii si evitarea utilizarii unui id */
#header h1 {
  color: green;
  text-decoration: underline green;
  padding: 5px;
}

#container p {
  font-size: 25px;
  font-style: italic;
  color: purple;
}

/* add code here */

h1 {
  color: red;
}

.header h1 {
  color: blue;
}

p {
  text-decoration: underline;
}

.para {
  text-decoration: none;
  color: blueviolet;
}
