body {
  padding: 0 370px 0 370px;
}

.container {
  position: relative;
  border: 1px solid #000;
  padding: 5px;
}

.nav-top {
  position: fixed;
  background-color: green;
  top: 0;
  left: 0;
  padding: 11px;
  z-index: 1;
}

.nav-top a {
  color: white;
}

.nav-bottom {
  position: absolute;
  background-color: blue;
  color: brown;
  bottom: 0;
  right: 0;
  padding: 11px;
  z-index: 1;
}

.nav-bottom a {
  color: brown;
}

.legend {
  position: absolute;
  background-color: grey;
  border: 1px solid red;
  top: -9px;
}

.sup {
  position: relative;
  top: -5px;
  font-size: small;
}
