input[type='checkbox']:checked + label {
  color: green;
}

input[type='radio']:checked + label {
  background-color: lightgreen;
}

select option:checked {
  color: red;
  font-weight: bold;
}

/* am mai adaugat un selector pt a pastra efectul de bold/red
si pt optiunea ce este selectata si vizibila in pagina :p */
select {
  color: red;
  font-weight: bold;
}

input[type='checkbox'] + label {
  color: lightpink;
}

input[type='radio'] + label {
  background-color: lightpink;
}
