.my-first-list a {
  display: block;
  margin: 8px 0;
}

.my-first-list a::before {
  display: inline-block;
  background-color: purple;
  transform: rotate(45deg);
  content: '';
  width: 10px;
  height: 10px;
  margin-right: 8px;
}

.my-first-list a::after {
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  content: '';
  width: 10px;
  height: 10px;
  margin-left: 8px;
}

.my-second-list a {
  position: relative;
  top: 30px;
  display: block;
  margin: 8px 0;
}

.my-second-list a::before {
  display: inline-block;
  background-color: pink;
  border-radius: 50%;
  content: '';
  width: 10px;
  height: 10px;
  margin-right: 8px;
}

.my-second-list a::after {
  display: inline-block;
  background-color: blue;
  transform: rotate(45deg);
  content: '';
  width: 10px;
  height: 10px;
  margin-left: 8px;
}
