body {
  padding: 0px 180px 0px 180px;
}

.container {
  border: 1px solid #000;
  padding: 5px;
}

.nav-top {
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  padding: 12px;
  z-index: 1;
}

.nav-top a {
  color: white;
}

.container {
  position: relative;
}

.legend {
  position: absolute;
  background-color: grey;
  border: 1px solid red;
  top: -10px;
  left: 10px;
}

/* am ales font-size:small pt a fi corelat cu parent <p> */
.sub {
  position: relative;
  font-size: small;
  bottom: -5px;
}

.nav-bottom {
  position: fixed;
  background-color: green;
  bottom: 0;
  left: 0;
  padding: 12px;
  z-index: 1;
}

.nav-bottom a {
  color: white;
}
