/* fonts */
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
/* fonts */

/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  color: #2b2b2b;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* nu am folosit max-width-ul din XD - 1920px -
  cred ca era prea mare pt ecranul meu
  si nu aparea nicio modificare in browser (centrare etc)
  (desi in mod ciudat, rezolutia monitorului e 1920 x 1080)
  Am ales un max-width astfel incat sa fie aliniate :) */

/* am adaptat dimensiunile, in unele locuri,
  pentru a se potrivi cat mai mult cu design-ul
  si am folosit numere rotunde */
.container {
  max-width: 1345px;
  margin: 0 auto;
  width: 100%;
}

/* header */
.header-secondary {
  background: url(../images/banners/banner-homepage-header.png) no-repeat center
    center / cover;
  /* daca nu setez height dispare imaginea */
  height: 500px;
}

.header-secondary .header-secondary-inner {
  position: relative;
}

.header-secondary-inner .header-connect {
  position: absolute;
  color: #fff;
  margin-top: 50px;
  margin-left: 120px;
}

/* Am observat ca doar prin setarea display-ului in flex,
elementele se pozitioneaza inline (fara a mai fi nevoie de flex-direction: row) */
.header-secondary-inner .header-connect ul {
  display: flex;
  align-items: center;
}

.header-secondary-inner .header-connect i {
  /* am ales padding in loc de margin pt a mari spatiul click-uibil */
  padding: 10px;
  font-size: 30px;
}

.header-secondary-inner .header-connect li:last-child a {
  text-transform: uppercase;
  padding: 10px;
}

.header-secondary-inner .header-controls {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 50px;
  /* nu stiu daca setatul unui margin-left e cea mai buna solutie,
  dar e singura pe care am gasit-o :( */
  margin-left: 800px;
}

.header-secondary-inner .header-controls ul {
  display: flex;
  align-items: center;
}

.header-controls .header-search {
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
  margin-right: 20px;
}

.header-controls .header-search button {
  font-size: 22px;
  border-style: none;
  background: none;
  /*  da si la input la fel, m-a indus in eroare fundalul alb de la imagine
  si am omis sa le setez ca in pdf */
}

.header-controls .header-search input {
  font-family: 'Roboto', sans-serif;
  border-style: none;
  outline: none;
  background: none;
  width: 200px;
}

.header-controls a i {
  font-size: 30px;
  padding: 10px;
}

.header-primary {
  display: flex;
  align-items: center;
  background-color: #2b2b2b;
  height: 50px;
  color: #e8e8e8;
  text-transform: uppercase;
  font-size: 19px;
}

.header-primary ul {
  display: flex;
  justify-content: space-between;
}

.header-primary ul a {
  background-color: #2b2b2b;
  height: 50px;
  color: #e8e8e8;
  text-transform: uppercase;
  font-size: 19px;
  transition: color 0.2s ease-in;
}

.header-primary ul a:hover {
  color: #aeaeae;
  /* aici animatia e mai discreta,
  pt ca am zis sa o las tot in ton de gri (fiind monochrome :) ) */
}
/* header */

/* footer */
.footer {
  background-color: #e8e8e8;
  font-size: 22px;
  text-transform: lowercase;
  line-height: 40px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

.footer-inner .footer-contact ul {
  margin-top: 40px;
}

.footer-inner .footer-nav {
  display: flex;
  margin-top: 40px;
}

.footer-inner .footer-nav ul:last-child {
  margin-left: 160px;
}

.footer-connect {
  margin-top: 40px;
  margin-bottom: 70px;
  width: 360px;
}

.footer-connect .footer-newsletter input:nth-child(2) {
  height: 34px;
  width: 360px;
  border: 1px solid #cccccc;
}

.footer-connect .footer-newsletter input:nth-child(3) {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-top: 20px;
  border: 1px solid #cccccc;
}

.footer-connect .footer-newsletter label:nth-child(4) {
  display: inline-block;
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  /* am folosit proprietatea setata initial in body (just for practice) */
  font-size: initial;
  line-height: 22px;
  margin-left: 40px;
  margin-top: 15px;
}

.footer-connect .footer-newsletter label:nth-child(4) a {
  text-decoration: underline;
}

.footer-newsletter button {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: initial;
  padding: 5px 15px;
  margin-top: 15px;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.footer-newsletter button:hover {
  background-color: #2b2b2b;
  color: #e8e8e8;
}

.footer-connect .footer-social ul {
  display: flex;
}

.footer-connect .footer-social li {
  font-size: 35px;
  margin: 20px 20px 0 0;
}
/* footer */

/* content */
.content {
  position: relative;
  font-weight: bold;
}

.home-catalog-preview {
  margin-top: 40px;
}

.home-catalog-preview header h1 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  margin-bottom: 30px;
}

.home-catalog-preview > header h1 {
  border-top: 1px solid #cccccc;
  /* efectiv am tot trecut pe langa ea in pdf
  cu gandul sa o pun si pana la urma am uitat :(
  (si mi-am adus aminte si de ce, incercam sa iar din xd culoarea
  si nu ma lasa nicicum - ai dreptate ca nu e tocmai user friendly :),
  asa ca am lasat-o cu gandul ca ma intorc :) */
  padding-top: 10px;
}

.home-catalog-preview .product-tiles {
  display: flex;
  justify-content: center;
}

.product-tiles .product-tile {
  margin: 0 10px;
}

.product-tile .product-tile-image {
  position: relative;
}

.product-tile .product-tile-image .product-tile-badge {
  position: absolute;
  margin-left: -60px;
  margin-top: 15px;
  font-size: 40px;
}

.product-tile .product-tile-title a {
  margin-top: 20px;
  font-size: 22px;
  text-transform: uppercase;
  padding: 10px;
  transition: color 0.5s ease-in-out;
}

.product-tile .product-tile-title a:hover {
  color: #8e8e8e;
}

.product-tiles .product-tile-price {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: normal;
}

.home-content {
  display: flex;
  margin-top: 120px;
  margin-bottom: 140px;
}

.home-content section {
  margin-left: 130px;
}

.home-content section h1 {
  display: flex;
  font-size: 44px;
  margin-bottom: 40px;
  justify-content: flex-end;
}

.home-content section p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;
  text-align: justify;
}

.home-content section p:last-child {
  margin-top: 70px;
}

.home-catalog-preview .catalog-ctas {
  display: flex;
  justify-content: center;
}

.home-catalog-preview .catalog-ctas a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: lowercase;
  border: 2px solid #2b2b2b;
  /* am pus facut border mai groasa si un fundal gri pe hover
  ca sa se vada ca se poate face click pe ea (sper sa fie ok :) ) */
  height: 50px;
  padding: 11px 18px;
  margin-top: 60px;
  margin-bottom: 100px;
  transition: background-color 0.5s ease-in-out;
}

.home-catalog-preview .catalog-ctas a:hover {
  background-color: #4a4a4a;
  color: #fff;
}
/* content */
